
.CardContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    min-width: 100%;
    min-height: 100%;
    margin-top: 100px;
}

.Card {
    width: 330px;
    height: 490px;
    cursor: pointer;
    /* background-color: white; */
    opacity: 90%;
    border-radius: 10px;
    background-image: url('../assets/powCard.png');
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.Card:hover {
    opacity: 100%;
}

.playerOfTheWeek {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.powTitle {
    font-family: 'Edu TAS Beginner', 'cursive';
    font-size: xx-large;
    font-weight: 700;
}

.powStats {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.powName {
    font-family: 'Edu TAS Beginner', Arial, sans-serif;
}

